body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    border: 5px solid #b3e6f7;
    width: 70%;
    height: 80%;
    padding: 5%;
    color: #b3e6f7;
    box-sizing: border-box;
}

h1 {
    text-align: left;
    font-size: 100px;
    margin: 0;
    position: relative;
    left: 50px;
    top: 50px;
}

.description {
    font-size: 30px;
    position: relative;
    text-align: left;
    left: 150px;
    top: 75px;
}

.link-list {
    font-size: 30px;
    position: relative;
    text-align: left;
    left: 150px;
    top: 100px;
    list-style-type: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 25px;
}

.link-list a {
    color: #b3e6f7;
    text-decoration: none;
}

.link-list a:hover {
    text-decoration: underline;
}

.links {
    font-size: 30px;
    position: relative;
    left: 100px;
    top: 150px;
}

.links a {
    color: #b3e6f7;
    text-decoration: none;
    margin: 0 5px;
}

.links a:hover {
    text-decoration: underline;
}
.projects-list {
    margin-top: 50px;
    text-align: left;
}

.project {
    margin-bottom: 30px;
}

.project h2 {
    font-size: 36px;
    color: #b3e6f7;
}

.project p {
    font-size: 20px;
    color: #333;
}

.project a {
    color: #b3e6f7;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

